#main-content {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 992px) {
    #main-content {
        margin-left: 0;
    }

    .sidebar-open #main-content {
        margin-left: 200px;

    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #main-content {
        margin-left: 30px;
    }
}

.is-invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 10%) !important;
}